*{
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: darkcyan;
    text-align: center;
    color: white;
}
.content{
    overflow: hidden;

}
.left_content{
    width: 60%;
    height: 400px;
    background-color: rgb(10, 197, 197);
    text-align: center;
    color: white;
    float: left;

}
.right_content{
    width: 40%;
    height: 300px;
    background-color: rgb(21, 219, 219);
    text-align: center;
    color: white;
    float: left;
}
.bottom_content{
    width: 40%;
    height: 100px;
    background-color: rgba(25, 168, 168, 0.925);
    text-align: center;
    color: white;
    float: left;
    
}
.features{
    width: 100%;
    height: 200px;
    background-color: rgb(10, 78, 78);
    text-align: center;
    color: white;

}
.more_copy{
    width: 60%;
    height: 150px;
    background-color: rgb(26, 61, 61);
    text-align: center;
    color: white;
    float: left;
}
.call_action{
    width: 40%;
    height: 150px;
    background-color: rgb(4, 94, 94);
    text-align: center;
    color: white;
    float: right;
}
footer{
    height: 220px;
    background-color: black;
    text-align: center;
    color: white;
    
}